.App {
  text-align: center;
}

header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: .5rem 0;
}
.logo {

 height: 100%;
}
h1 {
  text-align: center;
  color: #333;
  margin: 1rem 0;
}

.container {
 height: 80vh;
  max-width:85%;
  margin: 20px auto;
  padding: 2rem 5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}